* {
    color: #348888;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #E0CCCC;
    text-align: center;
    padding: 5.125rem;
}

    h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 5rem;
        color: #274D5B;
        margin: 1rem auto;
    }

    h2 {
        font-size: 1.5625rem;
        color: #46988E;
    }

    span {
        color: #D46D4F;
    }

main {
    text-align: center;
    background-color: #F5F0E6;
    padding: 3.125rem
}

    #my-opening,
    #my-skills {
        padding: 1rem;
    }

    hr {
        width: 4rem;
        border-style: dotted none none;
        border-width: 0.4375rem;
        border-color: #FAAC6A;
        margin: auto;
    }

    main h3 {
        color: #D46D4F;
        font-size: 3.25rem;
        margin: 1rem auto;
    }

    h4 {
        font-size: 1.875rem;
        margin-bottom: 1rem;
    }

    main p {
        font-weight: bold;
        color: #46988E;
        font-size: 1.125rem;
    }

        #my-opening p {
            margin: 2rem auto 1rem;
        }

        #my-opening img {
            width: 9.125rem;
            margin: 1rem auto;
        }

        #my-skills img {
            width: 6.4375rem;
        }

        .skill-sec {
            margin: 2rem auto 1rem;
        }

        .skill-sec img,
        .skill-desc {
            display: inline-block;
            vertical-align: middle;
        }

        .skill-desc {
            text-align: left;
            margin: 0 1rem;
            width: 89%;
        } 

footer {
    background-color: #A3ADA6;
    padding: 1rem;
    text-align: center;
}

    footer * {
        margin: 0.625rem auto;
    }
    footer h3 {
        color: #F8E181;
        font-size: 1.875rem;
    }
